$mainColor: rgb(47, 84, 235);

.changePasBox {
    max-width: 540px;
    margin: auto;
    padding: 300px 16px 180px;
}

.changePasForm {
    width: 100%;
    background-color: white;
    padding: 64px 16px;

    h2 {
        text-align: center;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 32px;
    }

    :global {

        .login-form {
            max-width: 370px;
            margin: 0 auto;
        }

        .ant-form-item-explain-error {
            font-family: 'Inter';
            font-size: 12px;
        }

        .ant-form-item-explain {
            font-size: 12.7px;
        }

        .ant-btn {
            width: 100%;
            background-color: $mainColor;
            border: none;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            span {
                font-family: 'Inter';
                font-size: 16px;

            }
        }

        .ant-form-item {
            margin: 0;
        }

        .ant-input-group-addon {
            font-family: 'Inter';
            font-weight: 400;
            padding: 0 13px;
        }

        .ant-input {
            font-size: 14px;

            font-family: 'Inter';
            padding: 11px 11px;
            line-height: 1.2;
        }

        .ant-input-password {
            padding: 11px 11px;
            line-height: 1.2;
        }

        .ant-checkbox-wrapper:hover .ant-checkbox-inner,
        .ant-checkbox:hover .ant-checkbox-inner {
            border-color: $mainColor;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: $mainColor;
        }

        .login-form-forgot {
            color: $mainColor;
        }

        .anticon {
            margin-right: 6px;
        }
    }
}

@media all and (max-width: 360px) {
    .changePasBox {
        padding-top: 207px;
    }

    .changePasForm {
        padding: 32px 16px;
    }
}