body {
    :global {
        .ant-modal-title {
            display: flex;
            justify-content: space-between;
        }

        .anticon-close {
            width: 13px;
        }

        .ant-rate-star-second .anticon {
            width: 19px;
            height: 19px;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.btnClose {
    padding: 0;
}

.modalBody {
    padding: 24px;

    textarea {
        margin-top: 16px;
        width: 100%;
        min-height: 46px;
        resize: none;
        overflow-y: hidden;
        border-radius: 2px;
        border: 1px solid rgb(217, 217, 217);
        background-color: transparent;
        outline: none;
        padding: 5px 12px;
        font-weight: 400;

        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: rgb(191, 191, 191);
        }
    }
}

.modalFooter {
    padding: 10px 24px;
    border-top: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: flex-end;

    .senMsgBtn {
        border-radius: 2px;
        background-color: rgb(47, 84, 235);
        padding: 11px 16px;
        font-weight: 400;
        color: white;
        transition: 0.3s;
    }

    .disabled {
        background-color: rgb(245, 245, 245);
        color: rgb(191, 191, 191);
    }
}

@media all and (max-width: 360px) {
    body {
        :global {
            .ant-modal-header {
                padding: 16px;
            }
        }
    }

    .modalBody {
        padding: 24px 16px;
    }

    .modalFooter {
        padding: 10px 16px;

        .senMsgBtn {
            width: 100%;
        }
    }
}